{% extends 'base.html.twig' %}

{% block title %}Details products{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col cover">
                <img src="{{ asset('uploads/') }}{{ product.cover }}" class="card-img-top" alt="{{ product.albumName }}">
            </div>
            <div class="col">
                <h1>{{ product.albumName }}</h1>
                <h3>{{ (product.price / 100) |number_format(2, ',', '.') }}€</h3>
                <a href="{{  path('app_add_cart', {'id': product.id}) }}" type="button" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>

    </div>
{% endblock %}