{% extends 'base.html.twig' %} 

{% block title %}Products{% endblock %}

{% block main %}

<h1>Tous nos vinyles à la vente</h1>
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-md-6 lg-shadow pb-5">
      <a href="{{ path('app_details', { id: product.id }) }}">{{
        product.albumName
      }}</a>
      <h5>{{ product.author }}</h5>
      <img src="{{ asset('uploads/') }}{{ product.cover }}" class="card-img-top" alt="{{ product.albumName }}">
      <p>{{ product.price }}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
