{% extends 'base.html.twig' %} {% block title %}Order{% endblock %} {% block
main %}

<div class="container">
  <h1>Passer commande</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <p>Choisir mon adresse de livraison</p>
        {% if app.user.addresses|length == 0 %}
        <p>Vous n'avez pas encore rajouter d'adresse, veuillez cliquer-ici :</p>
        <a href="{{ path('app_account_address_add') }}" class="btn btn-primary"
          >Ajouter une adresse</a
        >
        {% else %} {% set formHtml %}
        {{ form(form) }}
        {% endset %} {{ formHtml|replace({'[br]' : '<br />'})|raw }} {% endif %}
        <p>Choisir mon transporteur</p>
      </div>
    </div>
    <div class="col-md-6">
      <p>Récapitulatif de ma commande</p>
      <p>Retrouvez le récapitulatif de vos produits</p>
    </div>
    <div class="order-summary">
      {# {% for key, product in cart %}
      <div class="row text-center{% if key > 0 %}mt-2{% endif %}">
        <div class="col mb-3 my-auto">
          <img
            src="{{ asset('uploads/') }}{{ product.product.cover }}"
            alt="{{ product.product.AlbumName }}"
            height="75px"
          /><br />
        </div>
        <div class="col mb-3 my-auto">x {{ product.quantity }}</div>
        <div class="col mb-3 my-auto">{{ product.product.albumName }}</div>
      </div>
      {% endfor %} #}
    </div>
  </div>
</div>
{#
<div class="col">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
#} {% endblock %}
