{% extends 'base.html.twig' %} 

{% block title %}Order-summary{% endblock %} 

{% block main %}

<h1>Récapitulatif de ma commande </h1>

    <div class="row">
        <div class="col">
            Mon Adresse :
                <p>{{ delivery | replace({'[br]' : '<br />'})|raw }}</p>
            <hr>
            Mon Transporteur:

                <div>
                    <p>{{ carrier.name }}</p>
                    <p>{{ (carrier.price / 100) |number_format(2, ',', '.') }}€</p>
                </div>

        </div>
        <div class="col">
            Produits :

            {% set total = 0 %}
            {% set sousTotal = 0 %}

            {% for p in cart %}
                {% set sousTotal =  sousTotal + (p.product.price * p.quantity) %}
                {% set total = sousTotal + carrier.price %}
            <div class="row">
                <div class="col"><img src="{{ asset('uploads/') }}{{ p.product.cover }}" alt="album cover" height="75px"></div>
                <div class="col"><strong>{{ p.product.albumName }}</strong> de {{ p.product.author }}</div>
                <div class="col">{{ (p.product.price /100) |number_format(2, ',', '.') }}€</div>
            </div>
                <div class="row">x{{ p.quantity }}</div>
            {% endfor %}
            <div class="row">
                <p><strong>Sous total:</strong> {{ (sousTotal / 100) |number_format(2, ',', '.') }}€</p>
                <p><strong>Livraison:</strong>{{ (carrier.price / 100) |number_format(2, ',', '.') }}€</p>
                <p><strong>Total:</strong>{{ (total/100) |number_format(2, ',', '.') }}€</p>
            </div>
            <a class="btn btn-success" id="checkout-button">Payer {{ (total / 100) |number_format(2, ',', '.') }}€</a>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var stripe = Stripe('pk_test_51K6F9OItVNcg60jK9EJOM2Gb0m9Dv6FJ21Mcpy5FeQwf1ANBqcuFue8gDRi8jNeyFqlM7RtDxOBVz3rg5ixuqlZ000mBqt6yDY');
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/stripe", {
                method: "POST",
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                if (session.error == 'app_order') {
                    window.location.replace('{{ path('app_order') }}');
                } else {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                }
            })
            .then(function(result) {

                if (result.error) {
                    alert(result.error.message);
                }
            })
            
            .catch(function (error) {
                console.log("Error:", error);
            });

        });
    </script>

{% endblock %}
